
.home-container{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 98%;
    width: 90%;
    overflow: hidden;
    /* background: #FFFBEB; */
    /*
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 10px; */
}
.left-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  /* overflow: hidden; */
  /* background: red; */
  /* transform: translateX(160px);*/
}

.right-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 99%;
  width: 50%;
  /* background: blue; */
}

.data-organizer-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.9s ease;
    font-size: 14px;
    height: 90%;
    width: 98%;
    margin-bottom: 4.7vh;
    /* background: orange; */
}






.trip-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  transition: 0.9s ease;
  font-size: 14px;
  /* background: pink; */

}

.driver-profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s ease;
  font-size: 14px;
  height: 100%;
  width: 100%;

  /* background: purple; */
}



 @media screen and (max-height: 400px) {
    .welcome-text {
      font-size: 1.5rem;
      transition: 0.2s ease-in-out;
    }
  }



  @media screen and (max-width: 720px) {
    .welcome-text {
      font-size: 1.5rem;
      transition: 0.2s ease-in-out;
    }
  }
  
/* daily summer */


.daily-summary {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFBEB; /* Matching the background color */
  border-radius: 20px;
  font-size: 15px; /* Adjusting the font size */
  padding: 20px; /* Adding padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  margin: 20px 0; 
}

.daily-summary p {
  margin: 10px 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.daily-summary input {
  border: 1px solid #263159;
  background-color:#FFFBEB;
  border-radius: 10px;
  padding: 7px;
  width: 100px;
  text-align: center;
  color: #333;
  font-size: 1em;
  border-radius: 7px;
}

/* general trip */
.general-tips {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFBEB; /* Matching the background color */
  border-radius: 20px;
  font-size: 15px; /* Adjusting the font size */
  padding: 20px; /* Adding padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  margin: 20px 0; /* Adding margin for spacing between other components */
}

.general-tips p {
  margin: 10px 10px; /* Adding margin between paragraphs */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px; /* Adjusting the font size */
}

.general-tips input {
  border: 1px solid #263159;/* Matching the border color */
  background-color: #FFFBEB; /* Matching the background color */
  border-radius: 10px; /* Adding border radius */
  padding: 7px; /* Adding padding for better spacing */
  width: 100px; /* Adjusting the width */
  text-align: center; /* Centering the text */
  color: #333; /* Setting the text color */
  font-size: 1em; /* Adjusting the font size */
  border-radius: 7px;
}

.DG{
  display:flex;
  padding: 10px;
 gap: 30px;

}
