/* MapComponent.module.css */
.mapContainer {
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80vh;
    border-radius: 5px;
    /* padding: 20px;
    margin: 20px; */
  }
  

  