@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: "Inter", sans-serif;
    align-items: center;
    background-color: #263159;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
form{
    color: #263159;
    background-color: #FFFBEB;
}
h1{
    color: #263159;
}
diV *{
    background-color: #FFFBEB;
}

input{
    border-radius: 8px;
    width: 508px;
    height: 40px;
}
.top-border-email{
    position: absolute;
    background-color: #FFFBEB;
    width: 14px;
    height: 19px;
    transform: translate(115px,-15px);
    padding-left: 10px;
    padding-right: 30px;
    margin: 6px;
}

.top-border-pass{
    position: absolute;
    background-color: #FFFBEB;
    width: 14px;
    height: 19px;
    transform: translate(115px,-15px);
    padding-left: 10px;
    padding-right: 65px;
    margin: 6px;
}
button{
    color: #FFFBEB;
    font-size: 22px;
    background-color: #263159;
    border-radius: 40px;
    width: 200px;
    height: 60px;
}
a{
    color: #0A45F6;
    text-decoration: none;
}
.Forgot-Password{
    padding-left: 380px;
}
.not-regist{
    padding-right: 450px;
}
.social-icons a {
    color: #263159;
    padding: 8px;
    font-size: 3.2em;
}
.login-container{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 900px;
    height: 790px;
    background-color: #FFFBEB;
    border-radius: 40px;
    padding: 20px;
    margin: 12px;
}
