.card-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 0;

}
.card {
    background-color:transparent;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s ease;
    
}

.card-info {
    display:flex;
     justify-content: space-between;
/*      
    align-items: center; */
    padding: 1em;
    margin: 1em;
}

.profile-name {
    text-align: left;
    color: #fffbeb;
    margin: 20px;
}
.top-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.25);
    background-color:#263159;
}

.profile-pic {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 2.7em;
    width: 128px;
    height: 128px;
    color: #263159;
    border-radius: 64px;
    margin: 12px;
}
button {
    width: 210px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fffbeb;
    border-radius: 15px;
    margin: 12px;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
    border-color: #646cff;
  }
.table-info {
    width: 70%;
    height: 90%;
    box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.25); 
    border: 5px solid #fffbeb;
    border-radius: 15px;
    margin: 2em;
}

table{
    width: 100%;
    background-color: #fffbeb;

    box-shadow: 0px 5px 25px rgba(1 1 1 /25%);
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

