
.Dashboard-Container{
    width: 100%;
    height: 100vh;
    overflow:auto;
    background-color: #263159;
<<<<<<< HEAD
    overflow: hidden;

=======
   
>>>>>>> 4c79e7cb773157137d0c4bb12afbf03f0587dd6a
}
.tempNav{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 236px;
    border-radius: 20px;
    margin: 20px;
<<<<<<< HEAD
    overflow: hidden;
=======
    margin-top: 50px;
>>>>>>> 4c79e7cb773157137d0c4bb12afbf03f0587dd6a
}
.Students 
{
    padding: 0px;
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #FFFBEB;
}