/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    font-family: "Istok Web", sans-serif;
    padding: 0;
    margin: 0;
}
.Dashboard-Container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #263159;
}
.main-container {
    display: flex;
}
.tempNav {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 236px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 50px;
}
.Students {
    padding: 0px;
    margin-top: 30px;
    height: 200px;
    width: 220px;
    border-radius: 20px;
    background-color: #FFFBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Students h6 {
    width: 199.42px;
    height: 17px;
    color: #4D4D4D;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.15px;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
}
.Students h2 {
    color: black;
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
    line-height: 16.94px;
    letter-spacing: -0.15px;
    text-align: left;
    padding-top: 7px;
    padding-left: 15px;
}
.Students .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}
.Students .Pie {
    width: 100px;
    height: auto;
}
.Students .percentages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    font-weight: normal;
    color: #4D4D4D;
}
.Students .percentages ul {
    list-style: none;
    padding: 0;
}
.Students .percentages ul li {
    margin-bottom: 5px;
}
