
.Dashboard-Container{
    width: 100%;
    height: 100vh;
    background-color: #263159;
    overflow: hidden;

}
.tempNav{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 236px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}
