
.horizontal-card {
    padding: 96px;
    margin: 0;
  }

  .horizontal-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* flex-direction: row-reverse;       for horizontal cards section */
  }

  .horizontal-card-info{
        color: #ffffff;
        width: 430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
  }

  .hc-image {
    width: 500px;
  }

  .description {
    line-height: 23px;
    font-size: 17px;
  }

  
  @media (max-width: 992px) {
    .horizontal-card-content {
        margin: 0 auto;
        display: table;
    }

  }