


.feature-card-link {
    font-weight: bold;
}

.feature-card-description {
    opacity: 0.5;
}

.feature-card {
    margin: 0 ;
    background-color: #fff;
    width: 230px;
    height: 210px;
    padding: 14px;
    border-radius: 16px;
}

.feature-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    translate: 0 -25px;
}

.feature-card-icon {
    width: 64px;
    height: 64px;
    background-color: #000;
    border-radius: 32px;
    translate: 0 -35px;
}