.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

  }

  .trip-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .trip-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    margin: 10px;
    width: 40vw;
    font-size: 20.5px;
    line-height: 35px;
    background:#263159;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .trip-info h2 {
    margin-top: 0;
  }
  
  .trip-info p {
    margin: 5px 0;
    font-size: 0.75em;
  }
  
  .trip-info p:first-child {
    margin-top: 0;
  }
  .thick-line2 {
    border: none;
    border-bottom: 2px solid #ccc; /* adjust the color and thickness to your liking */
    margin: 10px 0;
  }
