@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');




*  {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
}

/* header section */
.header {
    background-color: #ffffff;
    margin: 0 ;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.logo-nav {
    display: flex;
    align-items: flex-start;
}

.header-contents {
    padding: 4px 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.unordered-list, .list {
    height: 50px;;
}

.list {
    list-style-type: none;
    display: inline-block;
}

.logo-placeholder {
    font-size: 30px;
    margin: 0;
    
}


  /* dropdown menu */
.toggle-btn  {
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    margin: 0;
    border: none;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: #ffffff;

    border-radius: 10px;
    overflow: hidden;
    transition: height  0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dropdown-login-btn {
    width: 50%;
    padding: 0;
    height: 35px;
    border-radius: 30px;
    transition: transform .2s ease; 
}

.dropdown-menu.open {
    height: 250px;
}

.dropdown-login-btn {
    background: #263159;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-login-btn:hover {
    background: #020d19;
    opacity: 0.5;
    transform: scale(1.05);
    color: #ffffff;
}


  /* features card */

.feature-card-container {
    background: #495579;
    min-height: 439px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-bottom: 20px;
}

.features-title {
    font-size: 32px;
    color: #fff;
}


.feature-card-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 44px;
    gap: 24px;
}



/* About Us Section */

.about-us-container {
    background-color: #FFFBEB;
}

.about-us-headline {
    color: #000;
    text-align: center;
    padding-top: 50px;
    font-size: 38px;
}



  /* customer card */

.customer-card-container {
    place-content: center;
    background-color: #495579;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.customer-card-headline {
    color: #fff;
    padding-block: 44px 20px;

}

.customer-card-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}


.customer-card-scroller {
    max-width: 1300px;
    outline: 3px solid lime;
    padding-top: 2.5rem;
    
}

.customer-card-inner-scroller {
    display: flex;
    flex-wrap: wrap
}


.customer-card-scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        90deg,
        transparent,
        #fff 10%,
        #fff 90%,
        transparent
        );
        
    }
    
    .customer-card-scroller[data-animated=true] .customer-card-inner-scroller {
        flex-wrap: nowrap;
        animation: scroll 35s linear infinite;
        width: fit-content;
        
    }
    
    
    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }


    /* CTA Section */

    .cta {
        min-width: 1152px;
        background: rgb(37,23,73);
        background: linear-gradient(121deg, 
        rgba(37,23,73,1) 0%, 
        rgba(73,85,121,1) 50%, 
        rgba(255,251,235,1) 90%);
        padding: 0 44px;
        border-radius: 16px;
        transform: translateY(50px);
    }
    
    .cta-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;    
    }
    
    .cta, .cta-contents  {
        height: 160px;
    }

    .cta-headline-and-description {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
        width: 300px;
    }
    
    .review-and-download {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    
    }
    
    .star-icon, .review-amount {
        color: #000000;
    }
    
    .iphone-image {
        width: 139px;
        height: 280px;
        transform: rotate(14.2deg);
        box-shadow:  7px 4px 8px #00000040;
        border-radius: 16px;
        translate: 0 15px;
        transform: skew(-0.06turn, 18deg);
    }
    
    .review-amount {
        font-weight: 530;
    }
    
    .cta-container {
        background-color: #495579;
        display: flex;
        justify-content: center;
        align-items: center;
    }





    /* accordion section */
    .accordion-container {
        height: 674px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 130px;
    }


    .accordion-headline {
        padding-block: 30px;
    }


    /* Footer Section */

.footer-container {
    width: 100%;
    height: 100px;
    background: #000;
    position: relative;
    bottom: 0;
}

.social-media-logo {
    width: 32px;
    height: 32px;
}

.footer-logo {
    font-size: 26px;
}

.footer-company-refer, .footer-logo{
    color: #fff;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.social-media {
    display: flex;
    gap: 32px;
}


@media (max-width: 622px) {
    .info-box  {
        display: inline-block;
    }

    p {
        padding: 15px 0;
    }

}







  /* responsive design */
@media (max-width: 1121px) {    
    .unordered-list, .header-login-btn {
        display: none;
    }

    .toggle-btn {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }

    .dropdown-menu {
        display: block;
    }

    .feature-card-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cta {
        min-width: 700px;
    }

    .accordion-container {
        min-width: 700px;
        flex-grow: 1;
        overflow-y: auto;
        padding-bottom: 100px;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .customer-card-scroller[data-animated=true] .customer-card-inner-scroller {
        overflow: hidden;
        overflow-x: auto; /* Use horizontal scrolling for small screens */
        overflow-y: hidden;
    }

}
.wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}