@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.login{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    align-items: center;
    background-color: #263159;
    place-items: center;
}
.login-header{
    font-size: 3.2em;
    line-height: 1.1;
    color: #263159;
}
.Login-btn{
    width: 210px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: #FFFBEB;
    background-color: #263159;
    border-radius: 15px;
    margin: 12px;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 2em;

}
.Login-btn:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
    border-color: #646cff;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 900px;
    height: 790px;
    background-color: #FFFBEB;
    border-radius: 40px;
    padding: 20px;
    margin: 12px;
}
