@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.home-container{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 98%;
    width: 90%;
    background: #FFFBEB;
    /*
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 10px; */
}
.left-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  /* overflow: hidden; */
  /* background: red; */
  /* transform: translateX(160px);*/
}

.left-container > div{
  margin-bottom: 60px;
}

.right-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  /* background: blue; */
}

.data-organizer-container{
    display:flex;
    transition: 0.9s ease;
    font-size: 14px;
    height: 80%;
    width: 80%;
    /* background: orange; */
}


.welcome-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-left: 10px;
    /* background: yellow; */
    /* height: 10vh; */
    /* width: 60vw; */
    /* float: top; */
    /*margin-left: -10px;*/
}

.welcome{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 90%;
    /* background: white; */
    /* margin-left: -20px; */
    /* border-radius: 15px;
    background: #263159; */
}

.welcome-text{
    display: flex;
    color: #263159;
    font-size: 3em;
}

.trip-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  transition: 0.9s ease;
  font-size: 14px;
  /* background: pink; */

}

.driver-profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s ease;
  font-size: 14px;
  height: 40%;
  width: 50%;
  /* background: purple; */
}



 @media screen and (max-height: 400px) {
    .welcome-text {
      font-size: 1.5rem;
      transition: 0.2s ease-in-out;
    }
  }



  @media screen and (max-width: 720px) {
    .welcome-text {
      font-size: 1.5rem;
      transition: 0.2s ease-in-out;
    }
  }