@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.login{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    align-items: center;
<<<<<<< HEAD
    /* background-color: #263159; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    display: flex;
=======
    background-color: #263159;
>>>>>>> 09e052e6c5b4daf3fba88d52a50676cf8f6e6535
    place-items: center;
}
.login-form{
    margin-top: auto;
    margin-bottom: auto;
    color: #263159;
    background-color: #FFFBEB;

}
.login-header{
    font-size: 3.2em;
    line-height: 1.1;
    color: #263159;
}
.login-input{
    border-radius: 8px;
    width: 508px;
    height: 40px;
    padding-left: 10px;
    margin: 5px;
    background-color: #FFFBEB;
}
.top-border{
    position: absolute;
    background-color: #FFFBEB;
    transform: translate(14px,-4px);
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
}
.create-account-login-link{
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
.social-icons a {
    color: #263159;
    padding: 8px;
    font-size: 3.2em;
    background-color: #FFFBEB;
}
.social-icons a:hover {
    color: #535bf2;
}
.Forgot-Password{
    margin-left: 380px;
    background-color: transparent;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
.not-regist{
    transform: translate(-230px,-14px);
    background-color: transparent;
}
.login-container{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing:content-box;
    width: 800px;
    height: 680px;
    background-color: #FFFBEB;
    padding: 20px;
    margin: 12px;
    border-radius: 400px;
}
.Login-btn{
    width: 210px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: #FFFBEB;
    background-color: #263159;
    border-radius: 15px;
    margin: 12px;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 2em;

}
.Login-btn:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
    border-color: #646cff;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 900px;
    height: 790px;
    background-color: #FFFBEB;
    border-radius: 40px;
    padding: 20px;
    margin: 12px;
}
