.accordion {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 760px;
    height: 56px;
    padding: 24px;
    height: auto; 
}

.headline {
    font-size: 24px;
}

.accordion-dropdown-btn {
    transition: height 3s ease-in-out;
    color: #263159;
    font-size: 50px;
    cursor: pointer;
}

.headline-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.headline-and-button, .divider-and-description {
    padding-inline: 10px;

}

.divider-and-description {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.divider-and-description .open {
    height: 100px;
    opacity: 1;
}

.divider {
    opacity: 0.5;
    margin: 10px;
}

.description {
    font-size: 16px;
    padding: 24px;
    padding-bottom: 0;
}
