@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: "Inter", sans-serif;
    align-items: center;
    background-color: #263159;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
form{
    color: #263159;
    background-color: #FFFBEB;
}
h1{
    color: #263159;
}
diV *{
    background-color: #FFFBEB;
}

input{
    border-radius: 8px;
    width: 508px;
    height: 40px;
    padding-left: 10px;
}
.top-border{
    position: absolute;
    background-color: #FFFBEB;
    width: 14px;
    height: 20px;
    transform: translate(20px,-14px);
    padding-left: 5px;
    padding-right: 30px;
    margin: 2px;
}
a{
    color: #0A45F6;
    text-decoration: none;
}
.social-icons a {
    color: #263159;
    padding: 8px;
    font-size: 3.2em;
}
.login-container{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing:content-box;
    width: 800px;
    height: 680px;
    background-color: #FFFBEB;
    padding: 20px;
    margin: 12px;
    border-radius: 400px;
}
