.card-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0;
}
.card {
    background-color:transparent;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s ease;
    
}
.card-info {
    display:flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
}
.profile-name {
    text-align: left;
    color: #263159;
}
.top-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center ;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.25);
    background-color:#FFFBEB;
}
.left-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right-profile{
    margin: 2em;
}
.personal-info{
padding-left: 2em;
margin: 2em;
width: 30%;
color: #263159;
background-color: transparent;
border-radius: 15px;
box-shadow: 0px 5px 15px rgba(1 1 1 /0.25);
}
.profile-pic {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 2.7em;
    width: 128px;
    height: 128px;
    color: #FFFBEB;
    border-radius: 64px;
    margin: 12px;
}
/* .profile-pic:hover{
    scale: 1.1;
    transition: 0.5s ease-in-out;
} */
/*SHADY*/
button {
    width: 210px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: #FFFBEB;
    background-color: #263159;
    border-radius: 15px;
    margin: 12px;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 2em;

}
button:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
    border-color: #646cff;
}
.table-info {
    width: auto;
    height:auto;
    box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.25); 
    border: 5px solid #fffbeb;
    border-radius: 15px;
    margin: 2em;
    margin-bottom: 0px;
}

table{
    width: 100%;
    background-color: #fffbeb;

    box-shadow: 0px 5px 25px rgba(1 1 1 /25%);
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #263159;
}
th {
    background-color: #f2f2f2;
}
.edit-btn{
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    display: block;
}

.edit-toggle-txt{
    text-align: center;
    margin-left: 5px;
    transform: translate(10px,8px);
    color: #263159;
}
.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: gray;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s;
    
}

.toggle-checkbox:checked+.toggle-switch  {
    background-color: #263159;

}
.toggle-checkbox:checked+.toggle-switch::before ,.edit-toggle-txt {
    content: "";
    left: 50px;
    color: #263159;
}
