.driver-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #495579;
    height: 100%;
    width: 95%;
    border-radius: 20px;
    overflow: hidden;
    color: #FFFBEB;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: -1.6vh;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: hsla(217, 56%, 50%, 0.386);

    /* background: #ffcc00; */
}



.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 20vh;
    margin-bottom: 3vh;
    border-radius: 360px;
    background:#FFFBEB ;
}

.type-text{
  color: hsla(210, 2%, 67%, 0.566);

}

.star-rating {
    font-size: 40px;
    padding-bottom: 15px;
  }
  
  .star {
    cursor: pointer;
    color: #ccc;
  }
  
  .filled {
    color: #ffcc00;
  }
  

.driver-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    align-items: center;
    text-align: center;
    width: 70%;
}

.age-info p,.trip-info p{
  font-size: 20px;
  margin-bottom: 1vh;
}