
.horizontal-card {
  padding: 96px 190px;
  margin: 0;
  text-align: center;
}

.horizontal-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  /* flex-direction: row-reverse;       for horizontal cards section */
}

.horizontal-card-info{
  color: #ffffff;
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 30px;
  text-align: left;
}



p.description {
  line-height: 23px;
  font-size: 17px;
  padding: 0;
  width: 400px;
}


@media (max-width: 1221px) {
  .horizontal-card-content {
      margin: 0 auto;
      display: inline-block;
  }

  .hc-image {
    width: auto;
    padding-top: 10px;
  }
}

@media (max-width: 576px) {
  .horizontal-card {
    width: auto;
    /* padding: 60px; */
  }



}