
.horizontal-card {
  padding: 96px 190px;
  margin: 0;
}

.horizontal-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  /* flex-direction: row-reverse;       for horizontal cards section */
}

.horizontal-card-info{
      color: #ffffff;
      width: 430px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin: 0;
      text-align: left;
}

.hc-image {
  width: 500px;
}

p.description {
  line-height: 23px;
  font-size: 17px;
  padding: 0;
  margin: 0;
}


@media (max-width: 1221px) {
  .horizontal-card-content {
      margin: 0 auto;
      display: table;
  }

}