@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.trip-container{
    display:flex;
    padding: 0;
    transition: 0.9s ease;
    font-size: 14px;

}


.trip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #263159; 
    /* min-height: 500px; */
    min-width: 40px;
    height: 15%;
    width: 50%;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 10px;
    border-radius: 15px;
    transition: 0.5s ease;
}
/* .bus-img-container{
    display: block;
    height: 50px;
    width: 100px
}*/
img{
    display: flex;
    height: 200px;
    width:  300px;
    transform: translateY(-40px);
  
}
.text-style{
    transform: translateY(-40px);
    color: #FFFBEB;
    margin: 10px;
}

.student-count{
    display: flex;
    margin: 0;
    width: 50%;
    height: auto;
    flex-direction: row;
    transform: translate(-64px,-40px);
}

.extra-trip-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}