.trip-container{
    display:flex;
    padding: 0;
    transition: 0.9s ease;
    font-size: 14px;

}


.trip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #263159; 
    /* min-height: 500px; */
    min-width: 40px;
    height: 15%;
    width: 35%;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 10px;
    border-radius: 15px;
    transition: 0.5s ease;
}
/* .bus-img-container{
    display: block;
    height: 50px;
    width: 100px
}*/
img{
    display: flex;
    height: 200px;
    width:  300px;
    transform: translateY(-40px);
  
}
.trip-text{
    transform: translateY(-40px);
    color: #FFFBEB;
}