.chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-button {
    background-color: #495579;
    color: white;
    border: none;
    padding: 20px; /* Increase padding to make the button larger */
    border-radius: 50%; /* Make the button circular */
    cursor: pointer;
    width: 60px; /* Set a fixed width */
    height: 60px; /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image */
  }
  
  .chat-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #495579;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 30px;
}

.chat-button.fa-comments {
  font-size: 20px; 
  color: #333; 
  font-size: 20px; 
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
 
}

.chat-button:hover {
  background-color:#263159; /* add a hover effect */
}

























.chat-window {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #495579;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #495579;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
