.student-left-right-sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}
.left-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    
}

.student-right-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-top: 30px;
    align-items: center;

}


.welcome-container {
    width: 95%;
    height: 20%;
    background: linear-gradient(121deg, 
    rgb(23, 25, 73) 5%, 
    rgba(73,85,121,1) 50%, 
    rgb(232, 228, 214) 98%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: rgb(232, 228, 214) solid 1px;
    margin-top: 35px;
}

/* .student-logo {
    margin-right: 100px;
} */

.welcome-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.schedule-div{
    width: 80%;
    height: 40%;
}
/* driver info */
.driver-info {
    width: 80%;
    height: 50%; 
    padding: 10px;
    background-color: #FFFBEB;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 20px ;
}

.driver-contact {
    display: flex;
    flex-direction: column;
}

.profile-pic {
    margin: 0;
    width: 50px;
    height: 50px;
}

.star-rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.star-rating-icons {
    display: flex;
    gap: 5px;
}

/* current trip */

.student-current-trip {
    width: 85%;
    height: 30%;
    background-color: #FFFBEB;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 0;
}

.student-current-trip-title, .payments-title {
    font-size: 25px;
}

.current-trip-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
    padding-left: 0;
    
}

.current-trip-text {
    display: flex;
    gap: 15px;
}
.current-trip-text {
    font-size: 20px;
}

.current-trip-time {
    border: #0000006f solid 1px;
    padding: 5px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
}

.current-trip-contents {
    display: flex;
    justify-content: center;
}

.trip-status-bar {
    width: 350px;
}


/* payments */
.payments {
    background-color: #FFFBEB;
    border-radius: 20px;
    padding: 10px;
    width: 85%;
    height: 50%;
    align-content: center;

}

.payments-title {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.payments-text {
    display: flex;
}

.payments-text p {
    font-size: 20px;
}

.payments-content {
    display: flex;
    justify-content: space-between;
}

.payments-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments-info, .payments-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.payments-date-1, .payments-date-2, .payments-amount {
    border: #0000006f solid 1px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.payments-date-1 {
    width: 150px;
}

.payments-date-2 {
    width: 90px;
}


/* Media Queries
@media (max-width: 1550px) {
    .welcome-container {
        align-items: center;
        width: auto;
    }

    .student-logo {
        width: 170px;
        height: 170px;
    }

    .left-right-sections {
        flex-direction: row;
    }

    .current-trip, .payments {
        width: 100%;
    }
}

@media (max-width: 965px) {
    .student-logo {
        display: none;
    }
}

@media (max-width: 768px) {

    
    .welcome-container {
        width: 500px;
    }
}

@media (max-width: 480px) {

    .current-trip-time, .payments-date-1, .payments-date-2 {
        width: 70px;
        font-size: 0.8em;
    }
} */