.cash-deposit-container{
display:flex;
flex-direction: column;
height: 89.2vh;
width: auto;
justify-content: center;
align-items: center;
background-color: #263159;
margin: auto;
padding: 0;
}
.cash-deposit{
background-color:transparent;
min-height: 100%;
width: 100%;
overflow: hidden;
border-radius: 15px;
transition: 0.5s ease;
} 

.cash-deposit-content{
    display: flex;
    flex-direction: column;
    background-color: #263159;
    padding: 2em;
    border-radius: 15px;
}
.first-row-container{
    display: flex;
    height: 30vh;
}
.choosebank-container{
width: 30%;
height: auto;
box-shadow: 0px 5px 25px rgba(1 1 1 /25%);
background-color: #FFFBEB;
border-radius: 5px;
border: 1px solid #FFFBEB;
margin: 16px;
}
.choosebank-container>h3{
    color: #FFFBEB;
    text-align: center;
    background-color: #495579;
    border-radius: 5px;
    padding: 10px;
}
.dropdown-holder{
    display: flex;
    flex-direction: row;
    justify-content: left   ;
    align-items:center ;
    justify-content: center;

}
.current-due-container{
width: 70%;
max-height:22.5vh ;
height: auto;
align-items: center;
text-align: center;
justify-content: center;
box-shadow: 0px 5px 25px rgba(1 1 1 /25%);
background-color: #FFFBEB;
border-radius: 5px;
border: 1px solid #FFFBEB;
margin: 16px;
}

.current-due-container> h3{
padding: 18px;
text-align: center;
color: #FFFBEB;
background-color: #495579;
border-radius: 5px;
}

.table-container {
    width: 100%;
}

.table {
    border-collapse:collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

}

.table th {
    background-color: #f2f2f2;
}

.second-row-container{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.amount-container{
width: 30%;
height: 20vh;
box-shadow: 0px 5px 25px rgba(1 1 1 /25%);
background-color: #FFFBEB;
border-radius: 5px;
border: 1px solid #FFFBEB;
margin: 16px;
margin-top: 30px;
align-items: center;
justify-content: center;
}

.amount-container> h3{
    padding: 16px;
    text-align: center;
    color: #FFFBEB;
    background-color: #495579;
    border-radius: 5px;
}   
.amount-txt{
    display: flex;
    flex-direction: column;
    margin: 3px;
    margin-top:20px ;
    align-items: center;
    justify-content: center;
}
.amount-txt>h4{
    color: #263159;
}
.pay-btn{
    width: 5.5vw;
    height: 3.6vh;
    float: right;
    background-color: #263159;
    color: #FFFBEB;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: 2px solid #263159;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    display: block;
    cursor: pointer;
    margin: 8px;

}
.pay-btn:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
    border-color: #646cff;
}
.animation-container {
    display: flex;
    justify-content: flex-end; 
    width: 70%;
    padding: 30px;
}

