.RouteManagement-container{
    display: flex;
    flex-direction: row;
}
.routes-container{
    margin-top: 3vh;
    margin-left: 4vw;
    background-color: #fffbeb;
    display: flex;
    flex-direction: column;
    width: 83vw;
    height: 80vh;
    border: 1px solid #fffbeb;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.routes-container button{
    color: #263159;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px;
}
.routes-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw;
}
.numberOfRoutes{
    color: rgb(161, 161, 161);
}

.routes-header-container{
    display: flex;
    flex-direction: row;
    margin: 1.2em 0.01em 1.2em 0em;
}
.routes-table{
    margin-top: 1.2em;
}
.routes-table td{
    color: rgb(161, 161, 161);
    font-weight: 100;
    font-size: small;
}
.modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    width: 8vw;
}
.modal button{
    cursor: pointer;
    color: #fffbeb;
    background-color: #263159;
    margin: 4px;
    padding: 6px;
}
.modal button:hover{
    transform: scale(1.1);
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 2px;
}
  /* Ensure modal stays within viewport */
@keyframes slideIn {
    from {
opacity: 0;
transform: translateY(-20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
    opacity: 1;
    transform: translateY(0);
    }
    to {
    opacity: 0;
    transform: translateY(-20px);
    }
}

.modal-animation {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.modal-animation-slide-in {
    animation-name: slideIn;
}

.modal-animation-slide-out {
    animation-name: slideOut;
  }

